.red {
  color: red;
}
.black {
  color: black;
}
.hotpink {
  color: hotpink;
}
.darkgoldenrod {
  color: darkgoldenrod;
}
.green {
  color: green;
}
.gray {
  color: gray;
}
.turquoise {
  color: turquoise
}
.orangered {
  color: orangered
}
.blue {
  color: blue
}
.yellow {
  color: yellow
}
.underline {
  text-decoration: underline;
}
.font {
  font-weight: 900;
}